<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link href="" rel="stylesheet" type="text/css"> -->
    <title>Editing {{.Title}}</title>
</head>
<body>
    <h1>Editing {{.Title}}</h1>
    <form action="/save/{{.Title}}" method="POST">
        <div>
            <textarea name="body">
                {{printf "%s" .Body}}
            </textarea>
        </div>
        <div>
            <input type="submit" value="Save">
        </div>
    </form>

    <!-- <script language="javascript" type="text/javascript" src=""></script> -->
</body>
</html>

